<div class="custom-container">
  <h1 class="text-[24px] font-bold text-[#414042] mb-4">Shop By Category</h1>
  <div class="grid  2xl:grid-cols-6 xl:grid-cols-5 lg:grid-cols-4 gap-4">
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
    <a
      href="#"
      class="flex flex-col items-center justify-center border border-[#E9E9E9] rounded-sm hover:border-[#006A2E] group transition"
    >
      <img src="{{ 'hvac-equipment_300x.avif' | asset_url }}" alt="Category 1" class="rounded-sm">
      <span class="text-[14px] text-center py-1 text-[#414042] block w-full border-t border-[#E9E9E9] group-hover:border-[#006A2E] font-medium"
        >Grow Lights</span
      >
    </a>
  </div>
</div>
